

#nav {
	--gap: 0px;
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(clamp(50% - var(--gap), 400px, 100%), 1fr));

	a {
		display: flex;
		text-align: center;
		font-size: 2em;
		aspect-ratio: 3/2;
		align-items: center;
		justify-content: center;
		color: white;

		transition: all 1s;

		position: relative;
		--color: rgba(16, 16, 203, 0.2);

		overflow: hidden;

		img {
			position: absolute;
			inset: 0;
			object-fit: cover;
			max-width: 100%;

			transition: all .5s;
		}

		&:after {
			content: '';
			position: absolute;
			inset: 0;
			background: transparent;

			transition: all .5s;

		}

		&:hover{
			&:after {
				background: rgba(black, 0.25);
			}

			img {
				transform: scale(1.1);
			}
		}

		h2 {
			position: relative;
			z-index: 1;
			text-shadow: 0.1em 0.1em 0.2em rgba(0,0,0,0.9);
		}
	}

}
