---
import Layout from "../layouts/Layout.astro";
import { Picture } from '@astrojs/image/components';
import Hero from '../components/Hero.astro';
import '../styles/index.scss'

import eichenscheibe from '../assets/eichenscheibe.jpg';
import tische from '../assets/tische.jpg';
import camper from '../assets/camper.jpg';

import ralf from '../assets/team/ralf.jpg';
import tony from '../assets/team/tony.jpg';
---

<Layout title="Stammbrüder - Wertiges aus Holz" flexibleHeader="true" hero="true" description="Camperausbau und Massivholztische handgefertig in Leipzig">

	<Hero image={eichenscheibe} alt="Couchtisch aus einer Eichenscheibe">
		<h1>Wertiges aus Holz - made in Leipzig</h1>
		<p>Wir planen gemeinsam Projekte und setzen deine Vorstellungen erst digital und dann in die Realität um.
		<p/>
	</Hero>
	<section id="nav" class="tile-nav">
		<a href="/tische" class="tisch">
			<Picture src={tische} aspectRatio="3:2" widths={[400, 800, 1200]} alt="Eichentisch"/>
			<h2>Tische</h2>
		</a>
		<a href="/camperausbau" class="camper">
			<Picture src={camper} aspectRatio="3:2" widths={[400, 800, 1200]} alt="Camper bei Sonnenuntergang"/>
			<h2>Camperausbau</h2>
		</a>
		{/*
		<a href="#" class="projekt">
			<Picture src="/img/camper_nicole.png" aspectRatio="3:2" widths={[400, 800, 1200]} alt="CAD Konstruktion von einem Innerausbaus eines Campers"/>
			<h2>Dein Projekt</h2></a>
		<a href="#" class="diverse">
			<Picture src="/img/brett.jpg" aspectRatio="3:2" widths={[400, 800, 1200]} alt="Schneidebrett aus Eichenholz mit Brandeisen"/>
			<h2>Diverses</h2></a>
			*/}
	</section>
	<section id="team" class="full">
		<h2>Die Stammbrüder</h2>
		<h3>Drei Leipziger die sich den Traum einer eigenen Holzwerkstatt erfüllt haben</h3>

		<div class="wrapper">
			<p>
				Wir sind Freunde die neben ihrem normalen Beruf ihrer Leidenschaft für Holz nachgehen. Aus der anfänglichen Idee
				ist mittlerweile eines Unternehmen geworden. Gemeinsam mit unseren Kunden haben wir bisher noch jedes
				Projekt gestämmt und nicht selten ist dabei aus der Kundenbeziehung eine Freundschaft entstanden. Und so
				wächst die Bruderschaft der Stammbrüder stetig weiter.
			</p>
		</div>
	</section>
	<style is:inline>
		.team  img {
			max-width: 40vw;
			aspect-ratio: 1/1;
			object-fit: cover;
		}

	</style>
</Layout>


