---
import Layout from "../layouts/Layout.astro";
import '../styles/index.scss'
---
<Layout title="Stammbrüder - Wertiges aus Holz" flexibleHeader="true" hero="true">

	<section class="eichenscheibe hero">
		<h1>Wertiges aus Holz made in Leipzig</h1>
		<p>Wir planen gemeinsam Projekte mit dir und setzen deine Vorstellungen erst digital und dann in die Realität um.<p/>
	</section>
	<section id="nav">
		<a href="/tische" class="tisch"><h2>Tische</h2></a>
		<a href="/camperausbau" class="camper"><h2>Camperausbau</h2></a>
		<a href="#" class="projekt"><h2>Dein Projekt</h2></a>
		<a href="#" class="diverse"><h2>Diverses</h2></a>
	</section>
	<section id="team">

	</section>
</Layout>
