---
import Logo from "../components/Logo.astro";
import { Icon } from 'astro-icon'
import './layout.scss'
const { title, description, flexibleHeader = false, hero = undefined, heroImage } = Astro.props;
---
<!doctype html>
<html lang="de" class={[flexibleHeader ? '' : 'scrolled', hero ? 'hero' : ''].join(' ')}>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-inline'; script-src 'self' https://www.googletagmanager.com 'unsafe-inline'; connect-src 'self' https://*.google-analytics.com; img-src 'self' https://www.googletagmanager.com">
	<title>{title}</title>

	<!-- Global Metadata -->
	<meta name="viewport" content="width=device-width,initial-scale=1"/>
	<link rel="icon" type="image/svg+xml" href="/img/logo.svg"/>
	<meta name="title" content={title}/>
	<meta name="description" content={description}/>
</head>
<body>
	<header>
		<div class="wrapper">
			<a id="logo-container" href="/" aria-label="Startseite">
				<Logo color="white"/>
			</a>
			<nav>
				{/*<a href="/das-sind-wir">Über uns</a>*/}
				<a href="/camperausbau">Camperausbau</a>
				<a href="/tische">Tische</a>
			</nav>
		</div>
	</header>
	<main>
		<slot/>
	</main>

	{flexibleHeader && <script>
		window.addEventListener('scroll', () => {
			const classList = document.documentElement.classList;
			const top = Math.max(document.body.scrollTop, document.documentElement.scrollTop)

			if (top > 70) {
				classList.add('scrolled')
			} else if (top < 10) {
				classList.remove('scrolled')
			}
		})
		</script>}
	<footer>
		<div class="wrapper">
			<nav class="social">
				<a href="https://www.instagram.com/stammbrueder/" target="_blank" referrerpolicy="no-referrer">
					<Icon pack="lucide" name="instagram" />
					Stammbrueder
				</a>
				<a href="mailto:hallo@stammbrueder.de?subject=Anfrage">
					<Icon pack="lucide" name="mail" />
					hallo@stammbrueder.de</a>
			</nav>
			<nav>
				<a href="/impressum">Impressum</a>
			</nav>
		</div>
	</footer>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-1C10VNQKVE"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}

			gtag('js', new Date());
			gtag('config', 'G-1C10VNQKVE');
			</script>

</body>
</html>

<style is:inline>
	html.hero main {
		margin: 0
	}
</style>